<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css&quot; rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"/>
    <title>Meu Portifólio</title>
</head>
<body>
    <header>
        <img src="avatar.png" alt="avatar">
        <h1>Me chamo Aline</h1>
        <p> Sou estudante do Colégio Gastão Vidigal</p>
        <p>Meus cursos</p>
        
        <div>
        <p> Natação</p>
            <p>Altas habilidades</p>
            <p>Fotografia</p>
            <p>Curso de inglês</p>
        </div>
    </header>
</body>
</html>